@page
@model BookStore.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thanks for you Purchase! Your Book will be shipped to you soon!</h2>
    <a class="btn btn-primary" asp-controller="Home">Home</a>
</div>